<div *ngIf="getModalService().modal" class="abrir-modal animacion fadeIn">
  <div
    *ngIf="getModalService().modal"
    class="modal"
    tabindex="-1"
    style="display: block"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ titulo }}</h5>
          <button
            (click)="cerrarModal()"
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-8 mb-3">
                <ul class="list-group text-dark">
                  <li class="list-group-item active">
                    {{ cliente.nombre + " " + cliente.apellido.toUpperCase() }}
                  </li>
                  <li class="list-group-item">{{ cliente.email }}</li>
                  <li class="list-group-item">{{ cliente.region.nombre }}</li>
                  <li class="list-group-item">
                    {{ cliente.createAt | date: "fullDate" }}
                  </li>
                </ul>
                <div class="input-group mb-3">
                  <input
                    (change)="seleccionarFoto($event)"
                    type="file"
                    class="form-control"
                    id="inputGroupFile04"
                    aria-describedby="inputGroupFileAddon04"
                    aria-label="Upload"
                  />
                  <button
                    (click)="subirFoto()"
                    class="btn btn-outline-secondary"
                    type="button"
                    id="inputGroupFileAddon04"
                  >
                    Subir foto
                  </button>
                </div>
                <div *ngIf="progreso > 0" class="progress" style="height: 30px">
                  <div
                    class="progress-bar progress-bar-striped"
                    role="progressbar"
                    [ngStyle]="{ width: progreso + '%' }"
                    attr.aria-valuenow="{{ progreso }}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    {{ progreso }}%
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <img
                  *ngIf="cliente.foto !== ''"
                  src="http://localhost:8080/api/clientes/upload/img/{{
                    cliente.id
                  }}"
                  alt="{{ cliente.foto }}"
                  class="img-thumbnail rounded"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            (click)="cerrarModal()"
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
