<button type="button"(click)="estado=!estado" class="btn btn-primary my-3">{{estado?'Ocultar':'Mostrar'}}</button>
<div class="card">
  <div class="card-header">
    <h5>Listado de cursos</h5>
  </div>
  <ul class="list-group" *ngIf="estado">
    <li class="list-group-item" *ngFor="let curso of listaCurso">{{curso}}</li>
  </ul>
</div>
