<detalle-cliente
  *ngIf="clienteSeleccionado.id != 0"
  [cliente]="clienteSeleccionado"
></detalle-cliente>
<div class="card border-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de clientes</h5>
    <div class="my-2 text-left">
      <button
        class="btn btn-rounded btn-primary"
        type="button"
        [routerLink]="['/clientes/form']"
      >
        Agregar cliente
      </button>
    </div>
    <div class="btn btn-block alet alert-danger" *ngIf="clientes.length == 0">
      No hay clientes registrados
    </div>
    <table
      class="table table-bordered table-striped"
      *ngIf="clientes.length > 0"
    >
      <thead>
        <tr>
          <th>Perfil</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Fecha</th>
          <th>Email</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>
            <img
              (click)="abrirModal(cliente)"
              *ngIf="cliente.foto !== ''"
              src="http://localhost:8080/api/clientes/upload/img/{{
                cliente.id
              }}"
              alt="{{ cliente.foto }}"
              class="img-thumbnail rounded"
              style="width: 64px; height: 64px; cursor: pointer"
            />
            <img
              (click)="abrirModal(cliente)"
              *ngIf="cliente.foto === ''"
              src="http://localhost:8080/images/sin-foto.png"
              alt="Sin foto"
              class="img-thumbnail rounded"
              style="width: 64px; height: 64px; cursor: pointer"
            />
          </td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido | uppercase }}</td>
          <td>{{ cliente.createAt | date: "EEEE dd  MMMM - yyyy" }}</td>
          <td>{{ cliente.email }}</td>
          <td>
            <button
              class="btn btn-primary"
              name="buttonEdit"
              [routerLink]="['/clientes/form', cliente.id]"
            >
              Editar
            </button>
          </td>
          <td>
            <button
              class="btn btn-danger"
              name="buttonDelete"
              (click)="delete(cliente)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <paginator-nav *ngIf="paginador" [paginador]="paginador"></paginator-nav>
  </div>
</div>
