<link href="./assets/bootstrap.bundle.min.js" />
<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let error of errores">{{ error }}</li>
</ul>
<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">
    <form #clienterForm="ngForm">
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input
            class="form-control"
            id="nombre"
            type="text"
            [(ngModel)]="cliente.nombre"
            name="nombre"
            #nombre="ngModel"
          />
          <div
            class="alert alert-danger"
            *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
          >
            <div *ngIf="nombre.errors.required">Nombre es requerido</div>
            <div *ngIf="nombre.errors.minlength">
              Nombre debe tener minimo 4 caracteres
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
        <div class="col-sm-6">
          <input
            class="form-control"
            id="apellido"
            type="text"
            [(ngModel)]="cliente.apellido"
            name="apellido"
            #apellido="ngModel"
          />
          <div
            class="alert alert-danger"
            *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)"
          >
            <div *ngIf="apellido.errors.required">Apellido es requerido</div>
            <div *ngIf="apellido.errors.minlength">
              Apellido debe tener minimo 4 caracteres
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2"
          >Email / Correo</label
        >
        <div class="col-sm-6">
          <input
            class="form-control"
            id="email"
            type="text"
            [(ngModel)]="cliente.email"
            name="email"
            #email="ngModel"
          />
          <div
            class="alert alert-danger"
            *ngIf="email.invalid && (email.dirty || email.touched)"
          >
            <div *ngIf="email.errors.required">Email requerido</div>
            <div *ngIf="email.errors.email">
              Email debe contener formato correcto
            </div>
          </div>
        </div>
      </div>

      <!-- Nuevo campo fecha -->
      <div class="form-group row">
        <label for="createAt" class="col-form-label col-sm-2">Fecha</label>
        <div class="col-sm-6">
          <input
            matInput
            [matDatepicker]="picker"
            class="form-control"
            [(ngModel)]="cliente.createAt"
            id="createAt"
            name="createAt"
            style="display: inline; width: 300px"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
            style="color: azure"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>
      </div>

      <div class="form-group row">
        <label for="region" class="col-form-label col-sm-2">Region</label>
        <div class="col-sm-6">
          <select
            [compareWith]="campararRegion"
            class="form-control"
            id="region"
            [(ngModel)]="cliente.region"
            name="createAt"
            style="width: 500px"

          >
            <option *ngFor="let region of regiones" [ngValue]="region">
              {{ region.nombre }}
            </option>
          </select>
        </div>
      </div>
      <!-- *********************** -->

      <div class="form-group row">
        <div class="col-sm-3">
          <button
            class="btn btn-primary btn-block"
            role="button"
            type="submit"
            (click)="create()"
            *ngIf="!cliente.id; else elseBlock"
            [disabled]="!clienterForm.form.valid"
          >
            Crear
          </button>
          <ng-template #elseBlock>
            <button
              class="btn btn-primary btn-block"
              role="button"
              (click)="update()"
              [disabled]="!clienterForm.form.valid"
            >
              Editar
            </button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
